<!-- templates/fragments/header.html layout으로 부터 계정에따라 구분되어 불러와집니다.-->
<div th:fragment="header">
    <header>
        <div class="header-container">
            <div class="header-left">Home</div>
            <div class="header-right">
                <!--작업자 메뉴 -->
                <div class="tab-buttons">
                    <a th:href="@{/amount/invoice-entry}"><button type="button">Amount Entry</button></a>
                </div>
                <!--로그인 사용자 -->
                <!-- 로그인 사용자 -->
                <span th:if="${#authentication != null}" th:text="${#authentication.name}">로그인 사용자</span>
                <span th:if="${#authentication == null}">로그인 필요</span>

                <!-- 로그아웃 -->
                <form th:if="${#authentication != null}" th:action="@{/logout}" method="post">
                    <button type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </header>
</div>