.admin-tabs button {
    background: none;
    border: 1px solid var(--dark-gray);
    padding: 8px 14px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.admin-tabs button:hover {
    background-color: var(--blue);
    color: white;
}