<!-- templates/admin-users.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <th:block layout:fragment="style">
        <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    </th:block>
</head>

<body>
<main layout:fragment="content">
    <div id="tab-content">
        <!-- 기본 탭 내용(optional) -->
        <p>탭 내용을 선택하세요</p>
    </div>
</main>
</body>
</html>
