<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Amount Entry Home</title>
    <th:block layout:fragment="style">
        <link th:href="@{/static/css/style.css}" rel="stylesheet"/>
    </th:block>
</head>

<body>
<main layout:fragment="content">
    <h1>환영합니다, <span th:text="${nickname}">User</span>님!</h1>
    <p>이곳은 일반 사용자용 홈 화면입니다.</p>
</main>
</body>
</html>
