<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/signup.css}" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
<h2>Sign Up</h2>
<form th:action="@{/signup}" th:object="${userDto}" method="post">
    <div>
        <label>ID:</label>
        <input type="text" th:field="*{username}" required/>
    </div>
    <div>
        <label>Nickname:</label>
        <input type="text" th:field="*{nickname}" required/>
    </div>
    <div>
        <label>email:</label>
        <input type="email" th:field="*{email}" required/>
    </div>
    <div> <!--pasword 2번 입력 확인 코드 추가 -->
        <label>Password:</label>
        <input type="password" th:field="*{password}" required/>
    </div>
    <button type="submit">Sign Up</button>
</form>
<p>
    이미 계정이 있으신가요?
    <a th:href="@{/login}">login</a>
</p>
</body>
</html>
